.navigation {
  background-color:#fdba74;
  color: white;
  padding: 1rem;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.note-cnt{
  background-color: #fed7aa;
  height: 50vh;
  position: sticky;
}
.nav-brand {
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 12px;
  text-align: left;
  margin-right:75rem;
  color: black;
}
.serv-img{
  padding: 2rem;
  margin-bottom: -5px;
}
.sty-rem {
  text-align: center;
  opacity: 20%;
}
.img{
  opacity: 25%;
  padding-left: 40rem;
}
.App{
  background-color: #fed7aa;
}
.input-style {
  font-size: 20px;
  width: 500px;
  height: 100px;
  border-radius: 2px;
  margin-top:-15rem;
  margin-left: 30rem;
  z-index: 100;
  position: fixed;
}
.btn-cmp{
  position: fixed;
  left: 58rem;
  bottom: 34.5rem;
  z-index: 100;
}
.textBox {
  display: flex;
  float: left;
  flex-wrap: wrap;
  background-color:hsl(180deg 81% 24%);
  color: aliceblue;
  margin-left: 1rem;
  margin-bottom: 1rem;
  transform: translate(8rem,-7rem);
  padding: 45px;
  border-radius: 15px;
  box-shadow: 5px 5px 25px 7px rgb(0 0 0 / 25%),
    -5px -5px 30px 7px rgb(0 0 0 / 2%);
    justify-content:space-between;
  
}
.cls-btn{
  transform: translate(30px,30px);
  cursor: pointer;
  position: relative;
  height: 30px;
  width: 30px;
} 
.completed{
  text-decoration: line-through;
}
.vd-link{
  color: black;
  text-decoration: none;
  font-size: 20px;
  padding-left: 2.5rem;
  justify-content: space-between;
}
.vd-link:hover {
  background-color: cadetblue;
  height: 20px;
  width: 100px;
  margin-left: 1.5rem;
  border-radius: 1rem;
  padding-right: 20px;
  padding-left: 10px !important;
}
.textBox1{
  display: flex;
  float: left;
  flex-wrap: wrap;
  background-color:hsl(180deg 81% 24%);
  color: aliceblue;
  margin-left: 2rem;
transform: translate(10rem,-9rem);
  padding: 45px;
  border-radius: 15px;
  box-shadow: 5px 5px 25px 7px rgb(0 0 0 / 25%),
    -5px -5px 30px 7px rgb(0 0 0 / 2%);
    /* justify-content: space-around; */
}